header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

nav button {
  display: inline-block;
  z-index: 99;
}

@media (min-width: 700px) {
  nav button {
    display: none;
  }
}

nav button[aria-expanded="true"] {
  position: absolute;
}

nav button[aria-expanded="true"] + ul {
  opacity: 1;
  pointer-events: all;
}

nav ul {
  background: #2d2b2c;
  height: 100vh;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.25s linear;
  transition: opacity 0.25s linear;
  width: 100vw;
  z-index: 2;
}

nav ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 700px) {
  nav ul {
    background: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: initial;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    opacity: initial;
    position: initial;
    width: initial;
  }

  nav ul li {
    margin: 0 20px;
  }
}

.band {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 20px;
}

.band.dark {
  background: #2d2b2c;
}

.band.primary {
  background: #ffc812;
}

.band > * {
  max-width: 800px;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

